mixin profiles()
    +b.profiles
        +e.inner
            +e.title Направления деятельности
            +e.A.subtitle(href='') Целостный подход к внедрению изменений
            +e.swiper-container.swiper-container
                +e.swiper-wrapper.swiper-wrapper
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.shadow(src=require('./../images/profile-slide-shadow.png'), alt='')
                        +e.hover-block
                            +e.name-inner
                                +e.icon(src=require('./../images/red-button-rotated.svg'), alt='')
                                +e.name Стратегия и изменения
                            +e.description  Повысить стрессоустойчивость, развить навыки эмпатии, всегда быть на связи с самим собой, искренне заботиться о себе и других в бизнесе и в жизни
                            +e.link-inner
                                +e.link Узнать больше
                                +e.link-icon(src=require('./../images/arrow_red.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.shadow(src=require('./../images/profile-slide-shadow.png'), alt='')
                        +e.hover-block
                            +e.name-inner
                                +e.icon(src=require('./../images/green-button-rotated.svg'), alt='')
                                +e.name Развитие лидеров
                            +e.description  Повысить стрессоустойчивость, развить навыки эмпатии, всегда быть на связи с самим собой, искренне заботиться о себе и других в бизнесе и в жизни
                            +e.link-inner
                                +e.link Узнать больше
                                +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.shadow(src=require('./../images/profile-slide-shadow.png'), alt='')
                        +e.hover-block
                            +e.name-inner
                                +e.icon(src=require('./../images/blue-button-rotated.svg'), alt='')
                                +e.name EQ & Осознанность
                            +e.description  Повысить стрессоустойчивость, развить навыки эмпатии, всегда быть на связи с самим собой, искренне заботиться о себе и других в бизнесе и в жизни
                            +e.link-inner
                                +e.link Узнать больше
                                +e.link-icon(src=require('./../images/arrow_blue.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.shadow(src=require('./../images/profile-slide-shadow.png'), alt='')
                        +e.hover-block
                            +e.name-inner
                                +e.icon(src=require('./../images/orange-button-rotated.svg'), alt='')
                                +e.name индивидуальный коучинг
                            +e.description  Повысить стрессоустойчивость, развить навыки эмпатии, всегда быть на связи с самим собой, искренне заботиться о себе и других в бизнесе и в жизни
                            +e.link-inner
                                +e.link Узнать больше
                                +e.link-icon(src=require('./../images/arrow_orange.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.shadow(src=require('./../images/profile-slide-shadow.png'), alt='')
                        +e.hover-block
                            +e.name-inner
                                +e.icon(src=require('./../images/gray-button-rotated.svg'), alt='')
                                +e.name Решения и продукты online формата
                            +e.description  Повысить стрессоустойчивость, развить навыки эмпатии, всегда быть на связи с самим собой, искренне заботиться о себе и других в бизнесе и в жизни
                            +e.link-inner
                                +e.link Узнать больше
                                +e.link-icon(src=require('./../images/arrow_orange.svg'), alt='')
            +e.online-inner
                .container
                    +e.online-wrapper
                        +e.flick(src=require('./../images/flick.png'), alt='')
                        +e.A.online(href='')
                            +e.H3.online-title Решения и продукты online формата
                            +e.online-subtitle
                                +e.SPAN Принять участие
                                +e.SVG.online-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                    +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")