mixin projects()
    +b.projects
        +e.inner
            +e.H1.title Виды реализованных проектов
            +e.H2.subtitle Ключевые области экспертизы
            +e.swiper-container.swiper-container
                +e.swiper-wrapper.swiper-wrapper
                    +e.swiper-slide.swiper-slide
                        +e.name Система управления и принятия решений
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.name Система управления и принятия решений
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Стратегия
                                +e.LI
                                    +e.SPAN Корпоративное управление
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.name Система
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Стратегия
                                +e.LI
                                    +e.SPAN Корпоративное управление
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.name Система управления и принятия решений
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Стратегия
                                +e.LI
                                    +e.SPAN Корпоративное управление
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                                +e.LI
                                    +e.SPAN Проектный офис
                                +e.LI
                                    +e.SPAN Проектный офис
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.name Система управления и принятия решений
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Стратегия
                                +e.LI
                                    +e.SPAN Корпоративное управление
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.name Система управления и принятия решений
                        +e.content
                            +e.UL
                                +e.LI
                                    +e.SPAN Стратегия
                                +e.LI
                                    +e.SPAN Корпоративное управление
                                +e.LI
                                    +e.SPAN Оргструктура
                                +e.LI
                                    +e.SPAN Система принятия регений
                                +e.LI
                                    +e.SPAN Матрица областей ответственности
                                +e.LI
                                    +e.SPAN Проектный офис
                        +e.logos
                            +e.logo-wrapper
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/kaspersky-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/intexsoft-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')
                                +e.logo-inner
                                    +e.logos-pic(src=require('./../images/andersen2-logo.png'), alt='')