mixin feedback-page()
    +b.feedback-page
        +e.inner
            .container
                +breadcrumbs()
                +e.H1.title Отзывы
                +e.wrapper
                    +e.item
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.item-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name-inner
                            +e.name Яна Блезиг
                            +e.SVG.icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                        +e.content
                            +e.duty HR ДИРЕКТОР, CASTORAMA, РОССИЯ, МОСКВА
                            +e.descriprion Денис - профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет отклонениями от цели проекта и способен предоставить ожидаемый результат в обещанный срок. Он также продемонстрировал отличные экспертные знания в области оптимизации процессов. Я получила большое удовольствие от нашей совместной работы.
                    +e.item.feedback-page__item_half
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.item-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name-inner
                            +e.name Яна Блезиг
                            +e.SVG.icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                        +e.content
                            +e.duty HR ДИРЕКТОР, CASTORAMA, РОССИЯ, МОСКВА
                            +e.descriprion Денис - профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет отклонениями от цели проекта и способен предоставить ожидаемый результат в обещанный срок. Он также продемонстрировал отличные экспертные знания в области оптимизации процессов. Я получила большое удовольствие от нашей совместной работы.
                    +e.item.feedback-page__item_half
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.item-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name-inner
                            +e.name Яна Блезиг
                            +e.SVG.icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                        +e.content
                            +e.duty HR ДИРЕКТОР, CASTORAMA, РОССИЯ, МОСКВА
                            +e.descriprion Денис - профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет отклонениями от цели проекта и способен предоставить ожидаемый результат в обещанный срок. Он также продемонстрировал отличные экспертные знания в области оптимизации процессов. Я получила большое удовольствие от нашей совместной работы.
                    +e.item
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.item-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name-inner
                            +e.name Яна Блезиг
                            +e.SVG.icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                        +e.content
                            +e.duty HR ДИРЕКТОР, CASTORAMA, РОССИЯ, МОСКВА
                            +e.descriprion Денис - профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет отклонениями от цели проекта и способен предоставить ожидаемый результат в обещанный срок. Он также продемонстрировал отличные экспертные знания в области оптимизации процессов. Я получила большое удовольствие от нашей совместной работы.