mixin feedback()
    +b.feedback
        +e.inner
            +e.top-line(src=require('./../images/front-line-out.png'), alt='')
            +e.bottom-line(src=require('./../images/front-line-out.png'), alt='')
            +e.title Истории успеха
            +e.swiper-container.swiper-container
                +e.swiper-wrapper.swiper-wrapper
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name Яна Блезинг
                        +e.position HR директор, Hineken Москвы, Россия (Москва)
                        +e.text Денис – профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/pavel-lokshin.png'), alt='')
                        +e.name Павел Локшин
                        +e.position Генеральный директор, К-раута, Россия (ст. Петербург)
                        +e.text Мы впервые пригласили Дениса в К-Рауту летом 2013 года с целью формирования и запуска Офиса Управления Проектами - задача была выполнена качественно и в срок. Иногда консультанты предоставляют прекрасные презентации в качестве конечного результата проекта, но в нашем случае нам было
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/liza-beilina.png'), alt='')
                        +e.name Елизавета Бейлина
                        +e.position HR директор, Татнефть, Россия (Москва)
                        +e.text Денис обладает глубокими экспертными знаниями и обширным опытом в области организационной эффективности, развитии персонала и оптимизации систем вознаграждения, включая программы долгосрочной мотивации руководителей. Он также опытный коуч и специалист по оценке
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/jana-blezing.png'), alt='')
                        +e.name Яна Блезинг
                        +e.position HR директор, Hineken Москвы, Россия (Москва)
                        +e.text Денис – профессионал, способный точно сформулировать и описать рамки крупного, стратегического проекта, учесть все критические элементы и обстоятельства, создать и вовлечь команду, состоящую из сотрудников компании-заказчика и привлеченных экспертов. Он четко определяет приоритеты, управляет
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/pavel-lokshin.png'), alt='')
                        +e.name Павел Локшин
                        +e.position Генеральный директор, К-раута, Россия (ст. Петербург)
                        +e.text Мы впервые пригласили Дениса в К-Рауту летом 2013 года с целью формирования и запуска Офиса Управления Проектами - задача была выполнена качественно и в срок. Иногда консультанты предоставляют прекрасные презентации в качестве конечного результата проекта, но в нашем случае нам было
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
                    +e.A.swiper-slide.swiper-slide(href='#')
                        +e.logo(src=require('./../images/heineken-logo-bright.svg'), alt='')
                        +e.profile-pic(src=require('./../images/liza-beilina.png'), alt='')
                        +e.name Елизавета Бейлина
                        +e.position HR директор, Татнефть, Россия (Москва)
                        +e.text Денис обладает глубокими экспертными знаниями и обширным опытом в области организационной эффективности, развитии персонала и оптимизации систем вознаграждения, включая программы долгосрочной мотивации руководителей. Он также опытный коуч и специалист по оценке
                        +e.shadow(src=require('./../images/feedback-shadow.png'), alt='')
                        +e.link-inner
                            +e.link Читать полностью
                            +e.link-icon(src=require('./../images/arrow_green.svg'), alt='')
            +e.swiper-button-next.swiper-button-next
            +e.swiper-button-prev.swiper-button-prev