mixin hub()
    +b.hub
        +e.wrapper
            +e.bgd-button(src=require('./../images/center-bgd.svg'), alt='')
            +e.content
                +e.laptop(src=require('./../images/laptop.png'), alt='')
                +e.title Центр знаний
                +e.description  Бесплатный полезный контент
                +e.subtitle Читаем. Смотрим. Слушаем.
                +e.A.link(href='#') Узнать больше
                +e.d-logo
                    +e.d-logo-pic(src=require('./../images/d-logo-green.svg'), alt='')
                    +e.d-logo-pic(src=require('./../images/d-logo-green.svg'), alt='')
                    +e.d-logo-pic(src=require('./../images/d-logo-green.svg'), alt='')
                    +e.d-logo-pic(src=require('./../images/d-logo-green.svg'), alt='')
                    +e.d-logo-pic(src=require('./../images/d-logo-green.svg'), alt='')


