mixin events()
    +b.events
        .container
            +e.inner
                +e.item
                    +e.item-title Последние события
                    +e.slider
                        +e.navigation
                            +e.BUTTON.button.events__prev-button(id='prev-button')
                            +e.date
                            +e.BUTTON.button.events__next-button(id='next-button')
                        +e.slide-shadow-wrapper
                            +e.slide-shadow
                            +e.wrapper(id='slides-wrapper')
                                +e.slide.events__slide_active(data-date='26 ФЕВ')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/krauta-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo.png'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker.events__description-marker_orange
                                            +e.description-text
                                                +e.description-title Проведение презентация прогр. SIY для рук-лей эйчар-функции
                                                +e.OL
                                                    +e.LI Определение целей аудита
                                                    +e.LI Проведение аудита с участием ключевых руководителей
                                                    +e.LI с. Формирование ключевых рекомендаций с учетом текущей
                                                    +e.LI с. Формирование ключевых рекомендаций с учетом текущей
                                                    +e.LI с. Формирование ключевых рекомендаций с учетом текущей
                                                    +e.LI с. Формирование ключевых рекомендаций с учетом текущей
                                                +e.A.link.events__link_orange.add_link(href='') Подробнее...
                                +e.slide.events__slide_deactive(data-date='15 АВГ')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/heineken-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo.png'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker
                                            +e.description-text
                                                +e.description-title Проведение презентация прогр. SIY для рук-лей эйчар-функции и других функций
                                        +e.details
                                            +e.details-inner
                                                +e.place
                                                    +e.icon(src=require('./../images/online-icon.svg'), alt='')
                                                    +e.place-text Online
                                                +e.time.events__item_disabled
                                                    +e.icon(src=require('./../images/time-icon.svg'), alt='')
                                                    +e.time-text 12:00 – 17:00
                                            +e.address.events__item_disabled
                                                +e.icon(src=require('./../images/address-icon.svg'), alt='')
                                                +e.address-text Минск, пр-т Победителей 100500, Marriott Hotel
                                            +e.A.link.events__link_orange(href='') Подробнее о проекте
                                +e.slide.events__slide_deactive(data-date='9 ФЕВ')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/heineken-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo.png'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker
                                            +e.description-text
                                                +e.description-title Проведение стратег.сес. по долгосрочному планированию и других планирований
                                        +e.details
                                            +e.details-inner
                                                +e.place
                                                    +e.icon(src=require('./../images/online-icon.svg'), alt='')
                                                    +e.place-text Online
                                                +e.time.events__item_disabled
                                                    +e.icon(src=require('./../images/time-icon.svg'), alt='')
                                                    +e.time-text 12:00 – 18:00
                                            +e.address.events__item_disabled
                                                +e.icon(src=require('./../images/address-icon.svg'), alt='')
                                                +e.address-text Минск, пр-т Машерова, 99
                                            +e.A.link.events__link_orange(href='') Подробнее о проекте
                +e.item
                    +e.item-title Будущие события
                    +e.slider
                        +e.navigation
                            +e.BUTTON.button.events__prev-button(id='prev-button-2')
                            +e.date
                            +e.BUTTON.button.events__next-button.events__next-button_orange(id='next-button-2')
                        +e.slide-shadow-wrapper
                            +e.hypnosis(src=require('./../images/hypnosis.png'), alt='')
                            +e.slide-shadow
                            +e.wrapper(id='slides-wrapper-2')
                                +e.slide.events__slide_active(data-date='29 ДЕК')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/heineken-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo-green.svg'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker.events__description-marker_orange
                                            +e.description-text
                                                +e.description-title Проведение презентация прогр. SIY для рук-лей эйчар-функции
                                        +e.details
                                            +e.details-inner
                                                +e.place
                                                    +e.icon(src=require('./../images/online-icon.svg'), alt='')
                                                    +e.place-text Online
                                                +e.time
                                                    +e.icon(src=require('./../images/time-icon_green.svg'), alt='')
                                                    +e.time-text 12:00 – 17:00
                                            +e.address.events__item_disabled
                                                +e.icon(src=require('./../images/address-icon.svg'), alt='')
                                                +e.address-text Минск, пр-т Победителей 100500, Marriott Hotel
                                            +e.A.link.events__link_orange(href='') Подробнее о проекте
                                +e.slide.events__slide_deactive(data-date='3 ИЮН')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/krauta-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo-green.svg'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker.events__description-marker_orange
                                            +e.description-text
                                                +e.description-title Проведение стратег.сес. по долгосрочному планированию для Ассоциации приборостроения
                                        +e.details
                                            +e.details-inner
                                                +e.place.events__item_disabled
                                                    +e.icon(src=require('./../images/online-icon.svg'), alt='')
                                                    +e.place-text Online
                                                +e.time
                                                    +e.icon(src=require('./../images/time-icon_green.svg'), alt='')
                                                    +e.time-text 12:00 – 17:00
                                            +e.address
                                                +e.icon(src=require('./../images/address-icon.svg'), alt='')
                                                +e.address-text Минск, пр-т Победителей 100500, Marriott Hotel
                                            +e.A.link.events__link_orange(href='') Подробнее о проекте
                                +e.slide.events__slide_deactive(data-date='9 АВГ')
                                    +e.logo
                                        +e.logo-pic(src=require('./../images/krauta-logo.svg'), alt='')
                                        +e.d-logo(src=require('./../images/d-logo-green.svg'), alt='')
                                    +e.content
                                        +e.description
                                            +e.description-marker.events__description-marker_orange
                                            +e.description-text
                                                +e.description-title Проведение стратег.сес. по долгосрочному планированию для Ассоциации приборостроения
                                        +e.details
                                            +e.details-inner
                                                +e.place.events__item_disabled
                                                    +e.icon(src=require('./../images/online-icon.svg'), alt='')
                                                    +e.place-text Online
                                                +e.time
                                                    +e.icon(src=require('./../images/time-icon_green.svg'), alt='')
                                                    +e.time-text 12:00 – 17:00
                                            +e.address
                                                +e.icon(src=require('./../images/address-icon.svg'), alt='')
                                                +e.address-text Somewhere, Minsk
                                            +e.A.link.events__link_orange(href='') Подробнее о проекте
                            +e.future-slider-shadow(src=require('./../images/future-slider-shadow.png'), alt='')