mixin certificates()
    +b.certificates
        +e.inner
            +e.title Сертификаты
            +e.swiper-container.swiper-container
                +e.swiper-wrapper.swiper-wrapper
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертифицирующий коуч Action Learning (SALC) World Institute of Action Learning
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2019
                            +e.icon
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Тренер программы Search Inside Yoursefl SIYLI, разработанной в Google
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Thailand, 2019
                            +e.icon.certificates__icon_blue
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Scrum with Kanban
                            +e.place
                                +e.place-icon(src=require('./../images/online-icon_dark.svg'), alt='')
                                +e.place-text 2018, SCRUM.ORG
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертифицированный коуч по «Обучению Действием» (Action Learning), World Institute of Action Learning
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text India, 2015
                            +e.icon
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертифицированный Leadership Development and Executive coach, Career Coaching Academy
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text USA, 2013
                            +e.icon
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертифицированный 360 Reach Analyst (личностный брендинг), Reach Communications
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text USA, 2013
                            +e.icon.certificates__icon_orange
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертифицированный карьерный коуч, Career Coaching Academy
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text USA, 2012
                            +e.icon.certificates__icon_orange
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Редизайн оргструктур и оптимизация бизнес-процессов, Hay Group
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2011
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Формулирование матрицы областей ответственности, Hay Group
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2011
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Оценка должностей, Hay Group
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2010
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Развитие лидерских компетенций, Center of Creative Leadership
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2009
                            +e.icon
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name «Семь привычек высокоэффективных людей», Franklin Covey
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 2009
                            +e.icon
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Формулирование клиентоориенованных стратегий, Metro Cash & Carry
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text France, 2007
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Сертификат по международному менеджменту, Madonna University
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text USA, 2005
                            +e.icon.certificates__icon_red
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.name Кататимно-имагинативная терапия, Hanscarl Leuner
                            +e.place
                                +e.place-icon(src=require('./../images/address-icon_dark.svg'), alt='')
                                +e.place-text Russia, 1998
                            +e.icon.certificates__icon_orange
                                +e.icon-pic(src=require('./../images/certificates-icon.svg'), alt='')
                +e.swiper-button-next.swiper-button-next.certificates__button
                +e.swiper-button-prev.swiper-button-prev.certificates__button
            +e.A.link(href='#') Просмотреть сертификаты